/* ========== PARAMETTRES GLOBAUX ========== */
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 15px;
  font-family: parkinsans, Calibri, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: wheat;
  color: #3e3848;
}

/* ========== NAVBAR =========== */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

header h1 {
  font-size: 3rem;
  margin-left: 30px;
}

ul {
  display: flex;
}

li{
  margin-left: 30px;
  list-style: none;
  background-color: rgb(247, 237, 207);
  width: 8em;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 2px 2px 5px black;
  transition-property: transform;
  transition-duration: 400ms;
}

li:hover {
  transform: scale(1.05);
}

li a {
  text-decoration: none;
  color: rgb(34, 33, 33);
  font-size: 1.1rem;
  font-weight: bold;
}

/* ========== MEDIA QUERIES ========== */

@media screen and (min-width: 465px) and (max-width: 949px) {

  header {
    display: block;
    text-align: center;
  }

  header h1,
  li {
    margin: 10px 10px 10px 0;
  }

  ul {
    justify-content: center;
  }
}

@media screen and (min-width: 820px) and (max-width: 1040px){
  header {
    display: block;
    text-align: center;
  }

  header h1,
  li {
    margin: 10px 10px 10px 0;
  }

  ul {
    justify-content: center;
  }
}

@media screen and (min-width: 1041px) and (max-width: 1500px){
  header {
    display: block;
    text-align: center;
  }

  header h1,
  li {
    margin: 10px 10px 10px 0;
  }

  ul {
    justify-content: center;
  }

}